<h2>Please Fill Out Required Fields</h2>

<form action="/info" method="POST"/>
    <h3>Name</h3>
    <input type="text" name="name"/>
    <br></br>
    <h3>Age</h3>
    <input type="number" min="0" name="age"/>
    <input type="submit"/>
</form>
