<h1>The Finishing School</h1>

<h2>Mission</h2>
  <p>You know something about shooting, about tactical mindset, about hand-to-hand combatives
    and now it is time to bring it all together, to bring proficiency not only to each skill
    but to the whole warrior.</p>
<h2>Who We Are</h2>
  <img src="./reagan.jpg" alt="Reagan standing with kit and gun." height="100" width="100">
  <p>You're instructors are men who have spent years learning from the best in the industry and
    and honing and implementing their skills.</p>
