<style>
h1 {color: black; border: 10px solid; width: 400px;}
h2 {font-size: 2em;}
a {color: black}
</style>

<h1>THE FINISHING SCHOOL</h1>
<p><strong>"Be the hardest person anyone has every tried to kill"</strong><p>

<!-- <form action="http://localhost:8080/about">
  <input type="button" value="About" />
</form> -->

<a href="./about"><h2>About</h2></a>

<h2>Guns</h2><br>
<h2>Gear</h2><br>
<a href="/videos"><h2>Videos</h2></a><br>
<h2><a href="./classes"><img src="/carbine_firing_line.jpg" alt="Two men shooting rifles at night." height="250" width="250"></a></h2>
<a href="./uptake"><h2>Online Assessment</h2></a>
<center><img src="/ir_logo.jpg" alt="Imperium Risk Logo" height="200" width="200"></center>
